In [11]:
%reload_ext autoreload
%autoreload 2

import utils

In [6]:
harborgen = utils.get_harbor_data('data/HarborHourly_2014-18.csv')
solargen = utils.get_solar_data()

In [12]:
harborgen.head()

,Unnamed: 0,STATE,FACILITY_NAME,ORISPL_CODE,UNITID,OP_TIME,GLOAD..MW.,SO2_MASS..lbs.,SO2_MASS_MEASURE_FLG,SO2_RATE..lbs.mmBtu.,...,NOX_MASS..lbs.,NOX_MASS_MEASURE_FLG,CO2_MASS..tons.,CO2_MASS_MEASURE_FLG,CO2_RATE..tons.mmBtu.,CO2_RATE_MEASURE_FLG,HEAT_INPUT..mmBtu.,FAC_ID,UNIT_ID,datetime
0,1,CA,Harbor Generating Station,399,**10A,0.0,0,0.0,0,0.0,...,0.0,0,0.0,0,0.0,0,0.0,71,259,2014-01-01 00:00:00
1,2,CA,Harbor Generating Station,399,**10A,0.0,0,0.0,0,0.0,...,0.0,0,0.0,0,0.0,0,0.0,71,259,2014-01-01 01:00:00
2,3,CA,Harbor Generating Station,399,**10A,0.0,0,0.0,0,0.0,...,0.0,0,0.0,0,0.0,0,0.0,71,259,2014-01-01 02:00:00
3,4,CA,Harbor Generating Station,399,**10A,0.0,0,0.0,0,0.0,...,0.0,0,0.0,0,0.0,0,0.0,71,259,2014-01-01 03:00:00
4,5,CA,Harbor Generating Station,399,**10A,0.0,0,0.0,0,0.0,...,0.0,0,0.0,0,0.0,0,0.0,71,259,2014-01-01 04:00:00

In [9]:
solargen.head()

   kwh            datetime
0  0.0 1900-01-01 00:00:00
1  0.0 1900-01-01 01:00:00
2  0.0 1900-01-01 02:00:00
3  0.0 1900-01-01 03:00:00
4  0.0 1900-01-01 04:00:00