In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%reload_ext autoreload
%autoreload 2

In [2]:
harbor_hourly = pd.read_csv('data/harbor_hourly_gen_emissions_2019.csv')

In [10]:
harbor_hourly_drop_nans = harbor_hourly.dropna()

In [14]:
harbor_hourly_drop_nans['heat_rate_mmbtu_per_mwh'] = harbor_hourly_drop_nans['heat_input_mmbtu']/harbor_hourly_drop_nans['load_mw']

<ipython-input-14-a636a47bcb2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  harbor_hourly_drop_nans['heat_rate_mmbtu_per_mwh'] = harbor_hourly_drop_nans['heat_input_mmbtu']/harbor_hourly_drop_nans['load_mw']

In [18]:
harbor_hourly_drop_nans = harbor_hourly_drop_nans[harbor_hourly_drop_nans['load_mw']!= 0]

In [20]:
harbor_hourly_drop_nans

,state,facility_name,facility_id,year,date,hour,load_mw,so2_lb,nox_lb,co2_short_tons,heat_input_mmbtu,heat_rate_mmbtu_per_mwh
175,CA,Harbor Generating Station,399,2019,1/8/19,7,18.0,0.116,5.398,11.252,192.792,10.710667
176,CA,Harbor Generating Station,399,2019,1/8/19,8,14.0,0.177,10.917,12.604,194.948,13.924857
177,CA,Harbor Generating Station,399,2019,1/8/19,9,16.0,0.103,11.666,10.034,171.564,10.722750
178,CA,Harbor Generating Station,399,2019,1/8/19,10,12.0,0.179,11.926,12.400,189.300,15.775000
179,CA,Harbor Generating Station,399,2019,1/8/19,11,3.0,0.023,0.191,2.220,38.100,12.700000
...,...,...,...,...,...,...,...,...,...,...,...,...
8674,CA,Harbor Generating Station,399,2019,12/28/19,10,75.0,0.550,28.399,53.400,916.100,12.214667
8675,CA,Harbor Generating Station,399,2019,12/28/19,11,91.0,0.575,23.002,55.900,958.400,10.531868
8676,CA,Harbor Generating Station,399,2019,12/28/19,12,107.0,0.572,14.298,55.600,953.200,8.908411
8677,CA,Harbor Generating Station,399,2019,12/28/19,13,109.0,0.571,13.334,55.600,952.400,8.737615
8678,CA,Harbor Generating Station,399,2019,12/28/19,14,77.0,0.441,22.760,42.800,734.200,9.535065

In [19]:
harbor_hourly_drop_nans['heat_rate_mmbtu_per_mwh'].mean()

10.874593691589608

In [30]:
(harbor_hourly_drop_nans['so2_lb']/harbor_hourly_drop_nans['load_mw']).mean()

0.007040667956182043

In [31]:
(harbor_hourly_drop_nans['so2_lb'].sum()/harbor_hourly_drop_nans['load_mw'].sum())

0.005748766344891754